Repository zubinqayam/ZQ-DDC-T1, changes with the owners that CODEOWNERS names for each.
All owners: @zq-ddc-team, @security-team, @documentation-team, @devops-team, @qa-team

CODEOWNERS:

# Code Owners for ZQ DDC Core V1

# Global owners (default)
*                           @zq-ddc-team

# Provenance system
/tools/                     @zq-ddc-team @security-team
/schema/                    @zq-ddc-team @security-team
/docs/core/manifest.md      @zq-ddc-team @documentation-team

# CI/CD workflows
/.github/workflows/         @zq-ddc-team @devops-team
/.github/scripts/           @zq-ddc-team @devops-team

# Security-critical files
/tools/sign_manifest.py     @security-team
/tools/verify_manifest.py   @security-team
/tools/tag_protect_unsigned.py @security-team
SECURITY.md                 @security-team

# Keys (should never be committed, but protected anyway)
/keys/                      @security-team

# Configuration
Makefile                    @zq-ddc-team
.pre-commit-config.yaml     @zq-ddc-team
CODEOWNERS                  @zq-ddc-team

# Documentation
/docs/                      @documentation-team
README.md                   @documentation-team

# Tests
/tests/                     @zq-ddc-team @qa-team

Add Apache License 2.0
  LICENSE
Owners: @zq-ddc-team

Add DDC Core v2.0 Ultimate Edition Dashboard App
  app.py
Owners: @zq-ddc-team

Add model metadata data contract
  model_meta.json
Owners: @zq-ddc-team

Add environment template for secrets management
  .env.template
Owners: @zq-ddc-team

Add Streamlit configuration for aesthetic and security
  .streamlit/config.toml
Owners: @zq-ddc-team

Update requirements.txt with pinned dependencies for production
  requirements.txt
Owners: @zq-ddc-team

Update Makefile with comprehensive development commands
  Makefile
Owners: @zq-ddc-team

Add GitHub Actions deployment workflow
  .github/workflows/deploy.yml
Owners: @zq-ddc-team, @devops-team

Add VS Code workspace settings for DDC Core development
  .vscode/settings.json
Owners: @zq-ddc-team

Update README with comprehensive DDC Core v2.1 documentation
  README.md
Owners: @documentation-team
